<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
</head>
<body>
    <center>
        <h1>Welcome To DashBoard</h1>
        <a href="/logout">Logout</a>
    </center>
</body>
</html>