<center>
    <a href="/">Home</a>
    <a href="/delete_record">Delete Record</a>
    <a href="/display_records">Display Record</a>
    <a href="/search_record">Search Record</a>
    <a href="/update_record">Update Record</a>
    <a href="/login">Login</a>
    <a href="/new_user">Sign Up</a>
</center>